.code-block {
    position: relative;
   max-width: 90%;
    height: auto;
    overflow: auto;
    margin-bottom: 20px;
 
  }
  
  .copy-button {
    color:white;
    font-size: 20px;
    position: absolute;
    bottom: 1px;
    right: 10px;
    padding: 10px 20px;
    background-color: #746e6e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: var(--box-shadow-tight);
  }
  pre {
  
    padding: 10px;
    border-radius: 5px;
    height: auto;
    font-size: 16px;
  }
  
  code {
    font-family: "Courier New", monospace;
    color: #f3f3f3; background-color: #746e6e;
  }